@model ProyectoFinalKermesse.Models.Kermesse

@{
    ViewBag.Title = "Editar Kermesse";
    Layout = "~/Views/Shared/_Layout.cshtml";
//ViewBag.Finicio = "2021-11-24";
}

<div>

    <ol class="breadcrumb" style="background:none; font-size: 18px">
        <li><a href="#">  @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li><a href="#">  @Html.ActionLink("Gestiones", "Index", "Gestion", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li><a href="#">  @Html.ActionLink("Kermesse", "Index", "Kermesses", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li class="active"> Editar  </li>
    </ol>
</div>

<div class="container">
    <h2>Editar</h2>
    <h3>Kermesse</h3>


    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idKermesse)

    <div class="form-group">
        @Html.LabelFor(model => model.parroquia, "Parroquia", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("parroquia", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.parroquia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fInicio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fInicio, new { htmlAttributes = new { @class = "form-control", @Value=ViewBag.Finicio } })
            @Html.ValidationMessageFor(model => model.fInicio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fFinal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fFinal, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Ffinal } })
            @Html.ValidationMessageFor(model => model.fFinal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.usuarioModificacion, "Usuario Modificacion", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("usuarioModificacion", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.usuarioModificacion, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.estado)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.fechaModificacion)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.usuarioCreacion)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.fechaCreacion)

    <button class="btn-primary" style="background-color: #779FA1">
        <span class="glyphicon glyphicon-hand-left" aria-hidden="true" style="float: left; color: #FFFFFF"></span>
        @Html.ActionLink("Regresar", "Index", "Kermesse", new { @style = "color:white;" })
    </button>

    <button type="submit" class="btn-primary" style="background-color: #779FA1">
        <span class="glyphicon glyphicon-edit" aria-hidden="true" style="float: left; color: #FFFFFF"></span>
        Editar
    </button>
</div>}

    

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div> 