@model ProyectoFinalKermesse.Models.ArqueoCajaDet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ArqueoCajaDet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArqueoCaja1.idArqueoCaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArqueoCaja1.idArqueoCaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Denominacion1.valorLetras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denominacion1.valorLetras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moneda1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moneda1.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idArqueoCajaDet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
