@model IEnumerable<ProyectoFinalKermesse.Models.Comunidad>

@{
    ViewBag.Title = "VerReporteComunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VerReporteComunidad</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.responsble)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descContribucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.responsble)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descContribucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idComunidad }) |
            @Html.ActionLink("Details", "Details", new { id=item.idComunidad }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idComunidad })
        </td>
    </tr>
}

</table>
