@model IEnumerable<ProyectoFinalKermesse.Models.ArqueoCaja>

@{
    ViewBag.Title = "Arqueo de Caja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <ol class="breadcrumb" style="background:none; font-size: 18px">
        <li><a href="#">  @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li><a href="#">  @Html.ActionLink("Gestiones", "Index", "Gestion", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li class="active"><a href="#">  @Html.ActionLink("Arqueo de Caja", "Index", "ArqueoCajas", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>

    </ol>
</div>

<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="~/fonts/BannersKermesse/25.png" alt="Banner 6">

    </div>

</div>

<div class="container">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaArqueo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.granTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEliminacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kermesse1.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario1.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario2.userName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaArqueo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.granTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaModificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaEliminacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kermesse1.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario1.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario2.userName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idArqueoCaja }, new { @style = "color: #779FA1" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idArqueoCaja }, new { @style = "color: #779FA1" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idArqueoCaja }, new { @style = "color: #779FA1" })
                </td>
            </tr>
        }

    </table>
    <hr />

    <p>
        <button type="button" class="btn-lg" style="border-block-color: #779FA1; background-color: #779FA1">
            @Html.ActionLink("Agregar nuevo", "Create", "ArqueoCajas", new { @style = "color:white;" })
            <span class="glyphicon glyphicon-plus" aria-hidden="true" style="float: left;  color: white"></span>
        </button>
    </p>
</div> 
