@model ProyectoFinalKermesse.Models.IngresoComunidadDet

@{
    ViewBag.Title = "Agregar a Detalle de Ingreso de Comunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <ol class="breadcrumb" style="background:none; font-size: 18px">
        <li><a href="#">  @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li><a href="#">  @Html.ActionLink("Gestiones", "Index", "Gestion", new { area = "" }, new { @style = "color: #779FA1" })  </a></li>
        <li><a href="#">  @Html.ActionLink("Detalle de Ingreso de Comunidad", "Index", "IngresoComunidadDets", new { area = "" }, new { @style = "color: #779FA1" })   </a></li>
        <li class="active"> Agregar  </li>
    </ol>
</div>

<div class="container">
    <h2>Agregar</h2>
    <h3> Detalle de Ingreso de Comunidad </h3>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ingresoComunidad, "Ingreso de Comunidad", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ingresoComunidad", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ingresoComunidad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.bono, "Bono", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("bono", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.bono, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.denominacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.denominacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.denominacion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.subTotalBono, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.subTotalBono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.subTotalBono, "", new { @class = "text-danger" })
        </div>
    </div>

    <button class="btn-primary" style="background-color: #779FA1">
        <span class="glyphicon glyphicon-hand-left" aria-hidden="true" style="float: left; color: #FFFFFF"></span>
        @Html.ActionLink("Regresar", "Index", "IngresoComunidadDets", new { @style = "color:white;" })
    </button>

    <button type="submit" class="btn-primary" style="background-color: #779FA1">
        <span class="glyphicon glyphicon-plus" aria-hidden="true" style="float: left; color: #FFFFFF"></span>
        Agregar
    </button>
</div>
    }

   

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    </div> 