@model IEnumerable<ProyectoFinalKermesse.Models.TasaCambio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moneda.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moneda1.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moneda.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moneda1.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTasaCambio }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTasaCambio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTasaCambio })
        </td>
    </tr>
}

</table>
